# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Environment variables
.env

# Vector database
chroma_db/

# Local lead database
Project/source-code/data/leads.sqlite3

# Local lead database
Project/source-code/data/leads.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Documents
documents/
